
.chat-btn {
    position: absolute;
    right: 60px;
    bottom: 30px;
}

.chat-btn .close {
    display: none
}

.chat-btn i {
    transition: all 0.9s ease
}

#check:checked~.chat-btn i {
    display: block;
    pointer-events: auto;
    transform: rotate(180deg)
}

#check:checked~.chat-btn .comment {
    display: none
}

.chat-btn i {
    font-size: 22px;
}

.chat-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #c0d7e1;
    font-size: 22px;
    border: none
}

.wrapper {
    position: absolute;
    right: 20px;
    bottom: 100px;
    width: 500px;
    height: 500px;
    display: none;
    transition: all 0.4s
}

#check:checked~.wrapper {
    display: block;
}

.header {
    padding: 13px;
    background-color: #4c7a8a;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
}

#check {
    display: none !important
}

body,html {
    height: 100%;
    margin: 0;
    
}

.chat {
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(100, 100, 100, 0)
}

.container-fluid-dark {
    color:#ffffff;
}

.container-fluid-light {
    color:#000000;
}

.card {
    height: 100%;
    border: 0px;
}

.card-bg-theme-light {
    background: linear-gradient(to right, #ffffff, #EAF2F5)!important;
}

.card-bg-theme-dark {
    background: linear-gradient(to right, #0f1f25, #001e29)!important;
}

.border-radius-15 {
    border-radius: 15px!important;
}
.border-radius-0 {
    border-radius: 0px!important;
}

.msg_card_body {
    overflow-y: auto;
    display: flex; 
    flex-direction: column-reverse;

}

.card-header {
    height: 20%;
    background-color: rgba(0,0,0,.06)!important;
    border-bottom: 0!important
}

.card-footer {
    height: 15%;
    border-radius: 0 0 15px 15px!important;
    border-top: 0!important
}

.input-group{ 
   height: 100%;
}

.container {
    align-content: center
}

.aura_typing{
    height: 0px;
    position: relative;
    top: -10px;
}

.type_msg {
    background-color: rgba(255, 255, 255, 0.733)!important;
    border: 0!important;
    color: #000000!important;
    height: 100%!important;
    overflow-y: auto
}


.type_msg:focus {
    box-shadow: none!important;
    outline: 0!important
}

.send_btn {
    border-radius: 0 15px 15px 0!important;
    background-color: rgba(0, 0, 0, .3)!important;
    border: 0!important;
    height: 100%;
    color: #fff!important;
    cursor: pointer
}

.user_img {
    height: 100%;
    width: 100%;
}

.header_height{
    height: 100%;
}

.user_img_msg {
    height: 40px;
    width: 40px;
}

.img_cont_msg {
    height: 54px;
    width: 40.5px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: .2em;
    right: .4em;
    border: 1.5px solid #fff
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    height: 100%
}

.user_info span {
    font-size: 1.6rem;
    font-weight: bold;
    color: #4c7a8a
}

.user_info p {
    font-size: 1.2rem;
    color: #4c7a8a;
}
.practice{
   display: none;
}

.login_error{
    color: #ED4337;
    text-align: center;
}

.msg_container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    padding: 10px;
    position: relative
}

.msg_container_theme_light {
    background-color: #C0D7E1;
}

.msg_container_theme_dark {
    background-color: #007bff8a;
    color: #efefef;
}

.msg_container_theme_dark a {
    color: #efefef;
    text-decoration: underline;
}

.msg_container_theme_dark a:hover {
    color: #efefef;
}

.msg_container_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    padding: 10px;
    position: relative
}

.msg_container_send_theme_light {
    background-color: #ffefd2;
}

.msg_container_send_theme_dark {
    background-color: #3f3f3f;
    color: #efefef;
}


.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, .5);
    font-size: 10px
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, .5);
    font-size: 10px
}

.msg_head {
    position: relative
}

button.like{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgba(0,150,136 ,1);
	background-color:rgba(38,166,154 ,0.3);
	border-color: rgba(0,150,136 ,1);
	border-width: 1px;
	font-size: 15px;
}

button.dislike{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgba(255,82,82 ,1);
	background-color: rgba(255,138,128 ,0.3);
	border-color: rgba(255,82,82 ,1);
	border-width: 1px;
	font-size: 15px;
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px whitesmoke;
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    background: #faf2e4;
    border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
    background: #ffe7bb
}

.cursor-pointer {
    cursor: pointer;
}

.pt_10 {
    padding-top: 10px;
}
@media(max-width: 486px){
   .user_img{
       height: 50px;
       width: 50px;
   }
   .user_info span {
       font-size: 2rem;
       font-weight: bold;
       color: #4c7a8a
   }
  
   .user_info p {
       font-size: 1.4rem;
       color: #4c7a8a;
   }
   .practice{
       display:flex;
   }
   .ia_practice{
       display: none;
    }
  }
@media(max-height: 500px){
   .user_img{
       height: 30px;
       width: 30px;
   }
   .user_info span {
       font-size: 1.2rem;
       font-weight: bold;
       color: #4c7a8a
   }
  
   .user_info p {
       font-size: 0.6rem;
       color: #4c7a8a;
   }
}

@media(max-height: 500px){
    .user_img{
        height: 30px;
        width: 30px;
    }
    .user_info span {
        font-size: 1.2rem;
        font-weight: bold;
        color: #4c7a8a
    }
   
    .user_info p {
        font-size: 0.6rem;
        color: #4c7a8a;
    }
 }

 @media(max-height: 350px){
    .card-footer {
        height: 30%;
        border-radius: 0 0 15px 15px!important;
        border-top: 0!important
    }

    .card-header {
        height: 80px;
        background-color: rgba(0,0,0,.06)!important;
        border-bottom: 0!important
    }
 }
 

